<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--Fragment header -->
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.css"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js" type="application/javascript"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>
<body>
<!-- Fragment navbar -->
<div th:fragment="navbar(link1, link2)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" th:text="${link1}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li><a href="/" class="nav-link" th:text="${link2}"><span class="badge badge-primary" th:text="${@communeRepository.count()}"></span></a>
                </li>
                <li></li>
            </ul>

            <!-- Si on recherche une commune à partir de son nom -->
            <form class="form-inline my-2 my-lg-0" role="search" action="/" method="GET">
                <div class="form-group">
                    <input name="search" value="" class="form-control" placeholder="Rechercher..." type="text">
                </div>
                <button type="submit" class="btn btn-outline-success ml-2 my-2 my-sm-0">Rechercher</button>
            </form>

            <div>
                <a sec:authorize="isAnonymous()" href="/login/input" class="btn btn-outline-success ml-2 my-2 my-sm-0">Se
                    connecter
                </a>
                <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()"
                   class="btn btn-outline-success ml-2 my-2 my-sm-0">Se
                    déconnecter
                </a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Se déconnecter"/>
                </form>
            </div>
            <a href="/register" class="btn btn-outline-success ml-2 my-2 my-sm-0">S'inscrire</a>

        </div>
    </nav>
</div>

<div>

    <div class="container">
        <h2 th:fragment="h2Detail" th:unless="${newCommune}">Détail de la commune [[${commune.codeInsee}]],
            [[${commune.nom}]]</h2>
        <h2 th:fragment="h2Crea" th:if="${newCommune}">Création d'une nouvelle commune</h2>
    </div>
</div>

</body>
</html>