<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- Fragment taille des pages -->
    <div th:fragment="pageSize" class="col-lg-5">
        <form action="/" method="get" class="form-inline">
            <label for="pageSizePicker">Taille des pages&nbsp;</label>
            <select name="size" id="pageSizePicker" class="custom-select"
                    onchange="javascript:this.form.submit()">
                <option th:each="nbPages : ${pageSizes}" th:value="${nbPages}" th:text="${nbPages}"
                        th:selected="${nbPages==size}"></option>
            </select>
            <input type="hidden" name="sortDirection" value="">
            <input type="hidden" name="sortProperty" value="">
            <input type="hidden" name="search" value="">
            <input type="hidden" name="page" th:value="${page}">
        </form>
    </div>

    <!-- Fragment "pageNav" -->
    <div th:fragment="pageNav" class="col-lg-2 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <!-- Boutons page précédente -->
                <form action="/" method="get">
                    <li class="page-item disabled" th:if="${page == 0}">
                        <a class="page-link" href="#"
                        >
                            &laquo;
                        </a>
                    </li>
                    <!-- attention au "&" que Discord a crée -->
                    <!-- remplacer le "1" de "page=1&" par la variable dynamique "page" -->
                    <input type="hidden" name="size" th:value="${size}">
                    <li class="page-item" th:unless="${page == 0}">
                        <a class="page-link"
                           th:href="@{|/?page=${pageDown}&sortDirection=&sortProperty=&size=${size}&search=${search}|}">
                            &laquo;
                        </a>
                    </li>
                    <input type="hidden" name="search" th:value="${search}">
                    <input type="hidden" name="size" th:value="${size}">
                    <input type="hidden" name="sortDirection" value="">
                    <input type="hidden" name="sortProperty" value="">
                </form>

                <!-- Combobox des pages -->
                <li class="page-item">
                    <form action="/" method="get">
                        <!-- utiliser sequence de number, attention au sort-->
                         <select name="page" id="pagePicker" class="custom-select"
                                onchange="javascript:this.form.submit()">
                            <option th:each="i : ${#numbers.sequence(0, lastPage)}" th:value="${i}"
                                    th:text="'Page ' + ${i+1}"
                                    th:selected="${i==page}"></option>
                        </select>
                        </select>
                        <input type="hidden" name="sortDirection" value="">
                        <input type="hidden" name="sortProperty" value="">
                        <input type="hidden" name="size" th:value="${size}">
                        <input type="hidden" name="search" th:value="${search}">
                    </form>
                </li>

                <!-- Boutons page suivante -->
                <form action="/" method="get">
                    <li class="page-item disabled" th:if="${page} == ${lastPage}">
                        <a class="page-link" href="#"
                        >
                            &raquo;
                        </a>
                    </li>
                    <li class="page-item" th:unless="${page} == ${lastPage}">
                        <a class="page-link"
                           th:href="@{|/?page=${pageUp}&sortDirection=&sortProperty=&size=${size}&search=${search}|}">
                            &raquo;
                        </a>
                    </li>
                    <input type="hidden" name="search" value="${search}">
                    <input type="hidden" name="size" th:value="${size}">
                    <input type="hidden" name="sortDirection" value="">
                    <input type="hidden" name="sortProperty" value="">
                </form>

            </ul>
        </nav>
    </div>

    <div th:fragment="nbCommunes" class="col-lg-5 text-right mt-2">
        <p>
            <!--Affichage des communes <span>1</span> à <span>10</span> sur un total de <span th:text="${nbCommunes}" >29997<span/>-->
            Affichage des communes <span th:text="${start}">1</span> à [[${end}]] sur un total de <span
                th:text="${nbCommunes}">29997</span>
        </p>
    </div>

</body>
</html>