<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: head('Gestion des communes')"></head>
<body>
<div th:replace="fragments/header :: navbar('Gestion des communes', 'Liste des communes')"></div>
<div>
    <div class="container">

        <div th:if="${type}" th:class="|mt-1 alert alert-dismissible fade show alert-${type}|" role="alert">
            <span th:utext="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <h2 th:replace="fragments/header :: h2Detail"></h2>
        <h2 th:replace="fragments/header :: h2Crea"></h2>
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <form id="saveForm" th:action="${newCommune} ? '/communes' : ('/communes/' + ${commune.codeInsee})" method="post"><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<!--                <form id="saveForm" th:action="@{/communes}" method="post"><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                    <div class="mt-2">

<!--                        <div th:replace="fragments/champs :: champCodeInsee"></div>-->

                        <div class="form-group">
                            <label for="codeInsee">Code INSEE</label>
                            <input type="text" th:value="${commune.codeInsee}"
                                   th:class="|form-control ${#fields.hasErrors('commune.codeInsee') ? 'is-invalid' : 'is-valid'}|"
                                   name="codeInsee"
                                   id="codeInsee">
                            <div class="invalid-feedback">
                                <ul>
                                    <li th:errors="${commune.codeInsee}"></li>
                                </ul>
                            </div>
                        </div>


<!--                        <div th:replace="fragments/champs :: champNom"></div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="nom">Nom</label>-->
<!--                            <input type="text" th:value="${commune.nom}"-->
<!--                                   th:class="|form-control ${#fields.hasErrors('commune.nom') ? 'is-invalid' : 'is-valid'}|"-->
<!--                                   name="nom"-->
<!--                                   id="nom">-->
<!--                            <div class="invalid-feedback">-->
<!--                                <ul>-->
<!--                                    <li th:errors="${commune.nom}"></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Champ lastName -->
                        <div class="form-group">
                            <label for="lastName">Nom</label>
                            <input type="text"
                                   th:value="${commune.nom}"
                                   th:class="|form-control ${#fields.hasErrors('commune.nom') ? 'is-invalid' : 'is-valid'}|"
                                   id="lastName"
                                   name="lastName"
                                   placeholder="Nom"
                                   class="form-control"
                            >
                            <div class="invalid-feedback">
                                <ul>
                                    <li th:errors="${commune.nom}"></li>
                                </ul>
                            </div>
                        </div>


<!--                        <div th:replace="fragments/champs :: champCodePostal"></div>-->

<!--                        <div th:replace="fragments/champs :: champLatitude"></div>-->

<!--                        <div th:replace="fragments/champs :: champLongitude"></div>-->

                    </div>
                    <div class="col-sm-12 mt-2 text-center">

                    </div>

                    <div sec:authorize="hasRole('ADMIN')" class="col-sm-12 mt-2 text-center">
                        <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer"/>
                        <a th:if="${update}" th:href="@{|/communes/${codeInsee}/delete|}" class="btn btn-danger">Supprimer</a>
                    </div>
                </form>
            </div>
            <!-- on n'affiche la carte que si on est en mode création -->
            <div th:if="${update}" class="col-lg-6">
                <!--            <div class="col-lg-6">-->
                <iframe width="650" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        th:src="@{|https://www.openstreetmap.org/export/embed.html?bbox=${commune.longitude-0.10}%2C${commune.latitude-0.5}%2C${commune.longitude+0.10}%2C${commune.latitude+0.5}&layer=mapnik&marker=${commune.latitude}%2C${commune.longitude}|}"></iframe>
            </div>

            <div class="col-sm-12 text-center mt-2" th:unless="${newCommune}">
                <form th:action="|/communes/${commune.codeInsee}|" method="get" class="form-inline mb-2"><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <label for="perimetre">Communes dans un périmètre de&nbsp;</label>
                    <div class="input-group input-group-sm">
                        <input type="number" th:value="${perimetre}"
                               th:class="|form-control ${#fields.hasErrors('perimetre') ? 'is-invalid' : 'is-valid'}|"
                               name="perimetre"
                               id="perimetre">
                        <div class="input-group-append">
                            <span class="input-group-text">km</span>
                        </div>
                        <div class="input-group-append">
                            <ul>
                                <li th:errors="${perimetre}"></li>
                            </ul>
                        </div>
                    </div>
                    <input class="btn btn-outline-primary btn-sm float-right" type="submit" value="Rechercher"/>
                </form>
            </div>

            <div class="col-sm-6" th:unless="${newCommune}">
                <ul class="list-group">
                    <li class="list-group-item" th:each="communeProche : ${communesProches}">
                        <a th:href="|/communes/${communeProche.codeInsee}|">
                            [[${communeProche.nom}]] ([[${communeProche.codePostal}]])
                            <span class="badge badge-primary float-right">
                                [[${communeProche.getDistance(commune.latitude, commune.longitude)}]] km
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
         </div>
    </div>
</div>

</body>
</html>