<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Gestion des communes')"></head>
<body>
<div th:replace="fragments/header :: navbar('Gestion des communes', 'Liste des communes')"></div>

<div class="container">
    <div th:if="${param.error}">
        <p class="text-danger">Echec de la connexion !</p>
    </div>
    <h2>Se connecter</h2>
    <!-- Formulaire avec attribut action / login avec méthode post -->
    <form th:action="@{/login}" method="post"><input type="hidden" th:name="${_csrf.parameterName}"
                                                     th:value="${_csrf.token}"/>
        <!-- Champ username -->
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" class="form-control"
                   autofocus>
        </div>
        <!-- Champ password -->
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" placeholder="Mot de passe" id="password" name="password" class="form-control">
        </div>
        <!-- Bouton submit -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>
</div>
</body>
</html>