<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Gestion des communes')"></head>
<body>
<!--<div th:insert="fragments/header :: navbar"></div>-->
<div th:replace="fragments/header :: navbar('Gestion des communes', 'Liste des communes')"></div>

<div>
    <div class="container">

        <div th:if="${type}" th:class="|mt-1 alert alert-dismissible fade show alert-${type}|" role="alert">
            <span th:utext="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <h2>Se connecter</h2>
        <!--        Formulaire avec attribut action /login avec méthode post-->
        <form th:action="@{/login}" method="post"><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <!--        Champ username-->
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" class="form-control">
            </div>
            <!--        Champ password-->
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" placeholder="Mot de passe" id="password" name="password" class="form-control">
            </div>
            <!--        Bouton submit-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </div>


    <!--            <div>-->
    <!--                <div class="form-group">-->
    <!--                    <label for="username">Username</label>-->
    <!--                    <input type="text" value="" class="form-control is-valid"-->
    <!--                           name="username"-->
    <!--                           id="username">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                <div class="form-group">-->
    <!--                    <label for="password">Password</label>-->
    <!--                    <input type="password" value="" class="form-control is-valid"-->
    <!--                           name="password"-->
    <!--                           id="password">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-12 mt-2 text-center">-->
    <!--                <input form="saveForm" class="btn btn-primary" type="submit" value="Se connecter"/>-->
    <!--                &lt;!&ndash;                <a href="/communes/01009/delete" class="btn btn-danger">Supprimer</a>&ndash;&gt;-->
    <!--                &lt;!&ndash;                        <a  th:if="${update}" href="/communes/CODEINSEE/delete" class="btn btn-danger">Supprimer</a>&ndash;&gt;-->
    <!--&lt;!&ndash;                <a th:if="${update}" th:href="@{|/communes/${codeInsee}/delete|}" class="btn btn-danger">Supprimer</a>&ndash;&gt;-->
    <!--                &lt;!&ndash;                        <a  th:if="${update}" th:href="@{|/communes/${codeInsee}/delete" class="btn btn-danger|}">Supprimer</a>&ndash;&gt;-->
    <!--            </div>-->

    <!--            <div>-->
    <!--                <div class="form-group">-->
    <!--                    <label for="longitude">Longitude</label>-->
    <!--                    <input type="text" &lt;!&ndash;th:value="${commune.longitude}"&ndash;&gt; value="" class="form-control is-valid"-->
    <!--                    name="longitude"-->
    <!--                    id="longitude">-->
    <!--                </div>-->
    <!--            </div>-->


<!--    </form>-->

<!--</div>-->
</div>
</body>

</html>